

.inactive {
    display: none;
}

body {
     background-image: url('/fondo-floral-acuarela_23-2148479247.jpg');
     background-size: cover;
     background-position: center;
}

#title {
    font-family: "Playwrite NL", cursive;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home {
    display: flex; 
    justify-content: flex-start;
    position: absolute;
    left: 0;
    align-items: center;
    width: 150px; 
}
.home {
    list-style-type: none;
}
#subtitle {
    font-family: "Playwrite NL", cursive;
    font-size: medium;
    display: flex;
    justify-content: center;
}
.menu-desktop {
    display: flex;
    justify-content: space-around;
}
li {
    font-family: "Playwrite NL", cursive;
    font-size: 18px;
    cursor: pointer;
    padding-top: 5px;
    list-style-type: none;
}
#info {
    display: flex;
    flex-direction: column;
}
#infoClient p{
    cursor: pointer;
}
#infoGeneral {
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(1, 1, 1, 0.3);
    font-style: oblique;
    margin: 1px;
    padding: 15px;
    border-radius: 15px;
    border-style: double;
}
.infoContainer p{
    display: flex;
    color: black;
}
